
.account {
    display: flex;
    flex-direction: column;
    
    background: #FFFFFF;
    margin-top: 30px;
    margin-left: 20px;    

    width: 680px;
    height: 281px;
    
}


.account h1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin: 20px 0;
}
