
.account-statement {
    display: flex;
    flex-direction: column;
    
    background: #FFFFFF;
    margin-top: 30px;
    margin-left: 20px;    

    width: 680px;
    height: 281px;

    max-width: 680px;
    
}


.account-statement h1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin: 20px 0;
}


.account-statement .list-statement {
    margin-top: 15px;
    border-collapse: separate;
    border-spacing: 0 5px;
    border-top: 0 solid transparent;
    margin-top: 1rem;
}


.account-statement .list-statement thead {
    position: relative;
    left: 20px;
    
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
}

.account-statement .list-statement tbody {
    position: relative;
    left: 20px;
    margin-bottom: 1rem;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.account-statement .list-statement .transfer-symbol {
    text-align: start;
    padding-bottom: 6px;
}

.account-statement .list-statement .transfer-name {
    text-align: start;
    padding-bottom: 6px;
}

.account-statement .list-statement .transfer-value {
    text-align: end;
    position: relative;
    right: 40px;
    padding-bottom: 6px;
}



.account-statement .statement-result {
    border-top: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 94%;
    margin-left: 3%;
}



.account-statement .statement-result .total { 
    position: relative;
    left: 3%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.account-statement .statement-result .value {
    text-align: end;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
}

.account-statement .statement-result .state {
    text-align: end;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 22px;
}

