

/* section transação */

.transaction {
    display: flex;
    flex-direction: column;

    background: #FFFFFF;
    margin-top: 30px;
    margin-left: 200px;    

    width: 400px;
    height: 344px;

    border: 1px solid #141111;
    box-sizing: border-box;
    border-radius: 4px;

}

.transaction h1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin: 20px 0;
}



/* tipo da mercadoria (select) */

.transaction .transaction-type {
    margin: 0 14px;
    display: flex;
    flex-direction: column;
    
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

.transaction .transaction-type select {
    margin-top: 10px;
    width: 370px;
    height: 32px;
    border-width: thin;
    border-radius: 4px;
    padding-left: 10px;

    font-family:  'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #888888;
}



/* nome da mercadoria (input-text) */

.transaction .merchandise-name {
    margin: 20px 14px;
    display: flex;
    flex-direction: column;

    font-family: 'Lato', sans-serif;
    font-style: normal;
}

.transaction .merchandise-name input {
    width: 370px;
    height: 32px;
    border-width: thin;
    border-radius: 4px;
    padding-left: 12px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #888888;
}



/* valor da mercadoria (input-text) */

.transaction .merchandise-value {
    margin: 20px 14px;
    display: flex;
    flex-direction: column;
    
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

.transaction .merchandise-value input {
    margin-top: 10px;
    width: 370px;
    height: 32px;
    border-width: thin;
    border-radius: 4px;
    padding-left: 12px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #888888;
}



/* botão de enviar (select-button) */

.transaction .add-transaction {
    margin: 20px 14px;
    display: flex;
    flex-direction: column;
}

.transaction .add-transaction input {
    outline: 0;
    width: 370px;
    height: 32px;
    background: #333333;
    box-shadow: 0 0 0 0;
    border: 0 none;
    border-radius: 4px;
    color: #FFFFFF;
    margin-bottom: 20px;

    font-family:  'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}
