/* font-family: 'Lato', sans-serif; */

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* oculta scrollbar */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox*/
html, body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-x: hidden;

}

*{
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

/* estilização {tag header} */
header {
    background: #E0E0E0; /* aplica cor no background dd header */

    display: flex;
    justify-content: center;

}

/* aplicação de props {classe headerContent} */
header > .headerContent {
    display: flex; /* demarca que o display será type flex */
    align-items: center; /* centraliza os items verticalmente */

    height: 80px; /* demarca altura do header (especificado no figma) */
    /* margin-left: calc(50% - (1110px/2)); */ /* calculo executado para manter a margem proporcional ao tamanho de tela */

    max-width: 1110px; /* demarca a largura maxima do conteudo */
    width: 100%;

}

/* estilização {H2 - headerContent} */
header > .headerContent > .logoTitle > h2 {
    margin-left: 20px; /* aplica uma margem de 20px a esquerda, separando do logo (svg) */

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

}

.headerContent nav {
    margin-left: auto; /* quando aplicado essa prop, o conteudo nav fica a extremidade da direita */
    background-color: #FFFFFF;
}

/* estilização {classe navContent} */
.navContent  {

    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;

    width: 350px;
    height: 40px;

}


/* estilização {a - navBar} */
a {
    text-decoration: none;
    color: #333333;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

/* aplicação de prop {i - navBarIcon} */
#check, .navBarIcon, .navBarClose, .navBarBackground {
    display: none; /* aplicando essa prop, faz com que o icone de barras fique invisivel */
}

/* estilização do content > form */

.content {
    display: flex; /* demarca que o display será type flex */
    margin-top: 30px;
    justify-content: center;
}

.form {
    width: 400px;
    height: 344px;

    background: #FFFFFF;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 4px;
    
}


/* content title */
.form .title {
    text-align: center;
    color: #000000;
}

.form .title h1 {

    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

/* content transaction type */

.transaction_type, .merch_name, .merch_value {
    display: grid;
    width: 370px;

    margin: 20px 15px 0;
    
}


.transaction_type label, .merch_name label, .merch_value label{

    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */

    color: #333333;
    margin-bottom: 4px;
}


.transaction_type select, .merch_name input, .merch_value input {

    padding-left: 10px;
    margin-top: 4px;
    height: 32px;

    background: #FFFFFF;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 4px;

    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    
    color: #888888;

    outline: none;

}

.merch_name input, .merch_value input {
    margin-inline-start: auto;
}

/* content input button {submit_button} */
.submit_button {
    display: grid;
    width: 370px;
    height: 32px;

    margin: 20px auto 0;

    background: #333333;
    border-radius: 4px;

    text-align: center;
    align-content: center;
    
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    /* @btn-primary-color */
    color: #FFFFFF;

    border: none;
    outline: none;

}


/* estilização do content > extract */

.extract {
    width: 680px;
    height: 281px;

    background: #FFFFFF;
    /*border: 1px solid #979797;*/
    box-sizing: border-box;
    border-radius: 4px;
}

.extract .title {
    text-align: center;
    color: #000000;
}

.extract .title  h1 {

    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

}

/* list */

.extract > section > .list {

    border-collapse: collapse;

    width: 96%;
    margin-left: auto;
    margin-right: auto;

    border-bottom: 1px solid black;

}


/* list thead */

.extract > section > .list > thead {

    font-weight: bold;
    font-size: 14px;
    line-height: 22px;

}

.extract > section > .list > thead > tr > th {
    border-bottom: 1px solid #979797;
}

.extract > section > .list > thead > tr > th:nth-child(2) {
    text-align: start;
    width: 35%;
}

.extract > section > .list > thead > tr > th:nth-child(3) {
    text-align: end;
}

/* list tbody */

.extract > section > .list > tbody { 

    font-weight: normal;
    font-size: 14px;

}


.extract > section > .list > tbody > tr > td {
    border-bottom: 1px solid #979797;
    padding-top: 10px;
    padding-bottom: 10px;
}

.extract > section > .list > tbody > tr > td:nth-child(1) {
    text-align: center;
}

.extract > section > .list > tbody > tr > td:nth-child(3) {
    text-align: end;
}

/* results */

.extract > .results {

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-template-rows: 35px 5px;
    align-items: center;

    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border-top: 1px solid #979797;

}

.extract > .results > .total {

    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

}

.extract > .results > .value {
    text-align: end;

    font-weight: bold;
    font-size: 14px;
    line-height: 22px;

}

.extract > .results > .profits {
    text-align: end;
    grid-column-start: 2;

    font-weight: normal;
    font-size: 10px;
    line-height: 22px;

}

@media screen and (max-width: 1112px) {

    .extract  {
        width: 652px;
    }
}


@media screen and (max-width: 1076px) {

    .extract  {
        width: 622px;
    }
}


@media screen and (max-width: 1024px) {

    .extract  {
        width: 582px;
    }
}

@media screen and (max-width: 1023px) {
    header > .headerContent {
        margin: 0 20px;
    }

    .content {
        margin:30px 20px;
    }

    .extract  {
        width: 582px;
    }
}

@media screen and (max-width: 768px) {

    header > .headerContent > .logoTitle > h2 {
        margin-left: 0; /* remove margin de 20 px aplicado pra desktop */
    }

    header > .headerContent  > .logoTitle  {
        margin-left: auto; /* deixa o texto centralizado */
    }

    .headerContent nav {
        background-color: transparent;
        width: 0;
    }

    .navContent {
        display: none;
    }
    
    .navContent span, .navBarBackground {
        display: none;
    }
    
    .navBarIcon {
        display: inline-flex;
    }

    #check:checked ~ .navBarClose {
        display: inline-flex;
        position: absolute;
        color: white;
        top: 15px;
        right: 225px;
        font-size: 18px;
    }
    
    #check:checked ~ .navBarBackground {
        color: transparent;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 252px;
        background-color: #333333;
    }

    #check:checked ~ .navContent, .navContent a {
        display: grid;
        color: white;
        position: relative;
        right: 130px;
        top: 20px;
        margin-top: 6px;
        width: 280px;
        height: 32px;
        justify-content: end;
        align-content: center;
    }

    #check:checked ~ .navContent a {
        padding-right: 8px;
    }

    .navContent a:hover {
        background-color: #C4C4C4;
        width: 244px;
        height: 32px;
        align-content: center;
        place-self: flex-end;
        color: #333333;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .form {
        width: 728px;
        height: 189px;
    }

    .form > .inputers {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    .form > .inputers > .transaction_type {
        width: 150px;
        margin: 0 0 0;
    }
    
    .form > .inputers > .merch_name {
        width: 348px;
        margin: 0 0 0;
    }
    
    .form > .inputers > .merch_value {
        width: 150px;
        margin: 0 0 0;
    }

    .submit_button {

        width: 200px;   

        float: right;
        margin: 20px 5px 0;
    }
    
    .extract {
        width: 728px;
        margin-top: 20px;
    }
}


@media screen and (max-width: 411px) {

    #check:checked ~ .navBarBackground {
        width: 351px;
    }

    #check:checked ~ .navBarClose {
        right: 324px;
    }

    .form {
        margin-left: auto;
        margin-right: auto;

        border: none;
        border-radius: 0;

        border-bottom: 1px solid #979797;

        width: 371px;
        height: 290px;
    }

    
    .form > .inputers {
        display: block;
    }

    .form .title {
        display: none;
    }

    .form > .inputers > .transaction_type {
        width: 371px;
        margin-left: auto;
    }
    
    .form > .inputers > .merch_name {
        width: 371px;
        margin-left: auto;
    }
    
    .form > .inputers > .merch_value {
        width: 371px;
        margin-left: auto;
    }

    .submit_button {

        width: 371px;   

        float: none;
        margin: 20px auto 0;
    }

    .extract {
        width: 371px;
        margin-top: 20px;
    }

}

/* estilização e aplicação de props {footer} */
footer {
    display: block;
    width: 100vw;
    height: 8px;
    position: fixed;
    bottom: 0;
    background-color: #333333;
}